/* @import '../pikaday/css/pikaday.css';

.pika-table {
    display: none !important;
}

input {
    padding: 8px; font-size: 16px;
}

button {
    padding: 8px 16px; 
    margin-left: 10px; 
    font-size: 16px; 
    cursor: pointer;
} */